%html
	%head
		%meta{"http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8"}
		%title PPT
		%link{:href => "/public/css/bootstrap.css", :rel => "stylesheet"}	
	%body{:background => "/public/img/fondo1.jpg"}
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					%a.brand{:href => "https://dl.dropboxusercontent.com/u/14539152/LPP/LPPbook/index.html"} STW
					.nav-collapse.collapse					
						%ul.nav
							%li.active
								%a{:href => "/"} Inicio
							%li
								%a{:href => "https://dl.dropboxusercontent.com/u/14539152/LPP/LPPbook/node356.html"} Acerca de
		%br
		%br		
		.container
			.row-fluid
				.span12
					%br
					- if (alert == 0)
						.alert.alert-info
							%center
								%h1 #{answer}
					- elsif (alert == 1)
						.alert
							%center
								%h1 #{answer}
					- elsif (alert == 2)
						.alert.alert-success
							%center
								%h1 #{answer}
					- else
						.alert.alert-error
							%center
								%h1 #{answer}
					%br
					%br
					.row-fluid
						.span4
							%center
								%a{:href => "/?choice=piedra", :class => "btn btn-large btn-success"} Piedra
						.span4
							%center
								%a{:href => "/?choice=papel", :class => "btn btn-large btn-warning"} Papel
						.span4
							%center
								%a{:href => "/?choice=tijeras", :class => "btn btn-large btn-danger"} Tijeras
					%br
					%br
					.row-fluid
						.span6
							%center
								%h1 Usuario: #{user}
								%br
								- if (user == 'piedra')
									%img{:src => "/public/img/user_piedra.jpg", :class => "img-polaroid", :height => "250", :width => "250"}
								- elsif (user == 'papel')
									%img{:src => "/public/img/user_papel.jpg", :class => "img-polaroid", :height => "250", :width => "250"}
								- elsif (user == 'tijeras')
									%img{:src => "/public/img/user_tijeras.jpg", :class => "img-polaroid", :height => "250", :width => "250"}
								- else
									%img{:src => "/public/img/user_null.jpg", :class => "img-polaroid", :height => "250", :width => "250"}
						.span6
							%center
								- if ((user != 'piedra') && (user != 'papel') && (user != 'tijeras'))
									%h1 M치quina: 
									%br
									%img{:src => "/public/img/pc_null.jpg", :class => "img-polaroid", :height => "250", :width => "250"}
								- elsif (pc == 'piedra')
									%h1 M치quina: #{pc}
									%br
									%img{:src => "/public/img/pc_piedra.jpg", :class => "img-polaroid", :height => "250", :width => "250"}
								- elsif (pc == 'papel')
									%h1 M치quina: #{pc}
									%br
									%img{:src => "/public/img/pc_papel.jpg", :class => "img-polaroid", :height => "250", :width => "250"}
								- elsif (pc == 'tijeras')
									%h1 M치quina: #{pc}
									%br
									%img{:src => "/public/img/pc_tijeras.jpg", :class => "img-polaroid", :height => "250", :width => "250"}
					%br
					.row-fluid
						.span4
							%br
							%center
								%a{:href => "/", :class => "btn btn-large btn-inverse"} Reset
						.span4
							%center						
								%table{:class => "table table-bordered"}
									%tr{:class => "success"}
										%td Jugadas
										%td Ganadas
										%td Empates
										%td Perdidas
									%tr{:class => "success"}
										%td 
											%center #{session}
										%td 
											%center #{win}
										%td 
											%center #{tie}
										%td 
											%center #{lost}
											
			


























	
			















